:root {
  --primary: #2b303a;
  --secondary: #eee4e9;
  --tertiary: #7c7c7c;
  --qr: #7c7c7c33;
  --button: #92dce5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
button:hover {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 4rem;
  text-align: center;
  color: var(--secondary);
}
.view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  margin-top: 4rem;
}
.user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
label {
  text-align: center;
  font-size: 1.5rem;
}

input {
  width: 30vw;
  border-radius: 0.5rem;
  background-color: var(--tertiary);
  text-align: center;
  padding: 1.5rem 1rem;
  color: black;
  font-size: 1.5rem;
}

input::placeholder {
  color: var(--primary);
}
.button {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  background-color: var(--button);
  color: black;
  font-size: 1.5rem;
}
i {
  margin-left: 1rem;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.qr-code {
  display: flex;
  border-radius: 1rem;
  background-color: var(--qr);
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
.qr-code button {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: #eae6e5;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 2.5rem;
  border-radius: 1rem;
}
.qr-code a {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #eae6e5;
  padding: 1rem;
}
.qr-code i {
  margin-left: 0.5rem;
}

@media screen and (max-width: 400px) {
  body {
    flex-direction: column;
    margin: 2rem;
  }
  header {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
  }
  .view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0;
  }
  .user-input {
    flex-direction: column;
    margin: 2rem;
  }
  input {
    width: 60vw;
    height: 4rem;
  }
  .button {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
}
